/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  /* FONT */
  --ff-default: 'Quicksand', Courier, monospace;

  --fw-light: 300;
  --fw-redular: 400;
  --fw-medium: 500;
  --fw-bold: 600;

  --fs-1: 2rem;
  --fs-2: 1.5rem;
  --fs-3: 1.2rem;
  --fs-4: 1rem;
  --fs-5: .8rem;
  --fs-6: .6rem;

  /* COLOURS */
  --clr-primary: rgb(13, 13, 39);
  --clr-primary-alpha: rgba(23, 23, 61, 0.75);
  --clr-secondary: rgb(13, 13, 39);
  --clr-secondary-alpha: rgba(115, 81, 153, 0.6);
  --clr-accent: rgb(55, 175, 101);

  --clr-dark-grey: hsl(266, 42%, 7%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-light-grey: hsl(0, 0%, 82%);
  --clr-white: hsl(0, 0%, 99%);
}